<div class="row">
    <div class="page-header"><h1>Dashboard</h1></div>
    <h1>Level: <?php echo $this->level; ?></h1>
    <h1>Total Points: <?php echo $this->user['points'] ?></h1>
    <h1>Badges</h1>
    <?php if (isset($this->badges)) : ?>
        <?php foreach ($this->badges as $badge) : ?>
            <a class="topic-anchor" href="/topics/view/<?php echo $badge['topic_id']; ?>">
                <p><?php echo $badge['name']; ?></p>
                <p><?php echo $badge['earned']; ?></p>
            </a>
        <?php endforeach; ?>
    <?php endif; ?>
    <div class="page-header"><h2>Subscribed Courses</h2></div>
    <?php foreach ($this->subscribed_courses as $subscribed) : ?>
        <div class="subscribed-course">
            <a href="courses/view/<?php echo $subscribed['id'] ?>"><?php echo $subscribed['name']; ?></a>
        </div>
    <?php endforeach; ?>
</div>