body {
    color: #444444;
    font-family: 'Proxima Nova',sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin: 0;
    min-width: 1000px;
}

body h1, body h2, body h3 {
    color: #888888;
    font-weight: 300;
}

a {
    outline: none !important;
}

#header {
    background-color: #3B414E;
    height: 45px;
}

#nav {
    padding-top: 14px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 1160px;
    z-index: 5;
}

.site-header li {
    float: left;
    list-style: none;
    display: inline;
}

.site-header li a {
    color: #c0ccdb;
    padding: 17px 26px 11px;
    text-decoration: none;
}

.site-header li a:hover {
    color: #ffffff;
}

.dropdown-hover:hover {
    background-color: #ffffff;
    color: #3B414E !important;
}

.logo a {
    font-weight: bold;
    color: #ffffff !important;
    font-size: 110%;
}

.category-dropdown {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    top: 31px !important;
    left: 0 !important;
    z-index: 10;
}

.category-dropdown li a {
    background: none repeat scroll 0 0 #fefefe;
    color: #8e8e8e;
    display: inline-block;
    font: 14px/17px "Helvetica Neue",Arial,sans-serif;
    padding: 10px !important;
    text-align: left;
    position: relative;
    white-space: nowrap;
    width: 170px;
}

.category-dropdown li a:hover {
    font-weight: bold;
}

.computing:hover {
    background-color: #679D20;
}

.maths:hover {
    background-color: #C42915;
}

.search-container {
    margin-left: 20px;
    width: 40%;
}

.fa-search {
    position: absolute;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 2px;
    color: #aaaaaa;
}

.fa-chevron-down {
    position: absolute;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
}

.search-text {
    border: 0 none;
    border-radius: 2px;
    font-style: normal;
    height: 29px;
    margin: -5px 0 0;
    padding: 1px 0 0 30px;
    width: 400px;
}

.btn-primary {
    background: none repeat scroll 0 0 #3F3F3F;
    border: medium none;
    box-shadow: none;
    padding: 15px 15px !important;
}

.btn-primary:hover {
    background: none repeat scroll 0 0 #3F3F3F;
}

.right-nav {
    float: right !important;
    margin-bottom: 10px !important;
    margin-left: 10px;
}

.fa-circle-o, .fa-circle {
    color: #61A055;
}

.topic-anchor p {
    color: #444444;
}

.topic {
    padding: 8px;
}

.topic:hover {
    background: #eeeeee;
}

.topic-anchor:hover {
    text-decoration: none;
}

.author {
    margin-right: 30px;
}

/********* COMMENTS *********/
.comment-wrapper {
    margin-bottom: 24px;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
}

.comments-section {
    width: 630px;
}

.comments-box {
    width: 630px;
}

.comment-user {
    text-decoration: underline;
    text-align: right;
}

.with-parent {
    display: none;
}

.comment-reply {
    cursor: pointer;
    float: left;
    font-size: 13px;
    line-height: 15px;
    list-style-type: none;
    margin: 0 7px 0 0;
    padding: 0;
    color: rgba(0, 39, 59, 0.35);
}

.delete-comment {
    cursor: pointer;
    float: left;
    font-size: 13px;
    line-height: 15px;
    list-style-type: none;
    margin: 0 7px 0 0;
    padding: 0;
    color: rgba(0, 39, 59, 0.35);
}

.comment-reply a {
}

.child-comments {
    margin-left: 40px;
}

.comment-header {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 3px;
    padding-right: 46px;
}

.comment-header a {
    color: #777;
    font-weight: 700;
    text-decoration: none;
}

.comment-image img {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 5px;
}

.votes {
    margin-top: -5px;
}

.up-votes {
    color: rgba(0, 39, 59, 0.35);
}

.down-votes {
    color: rgba(0, 39, 59, 0.35);
}

.total-comments {
    margin-left: 30px;
}

/******* END COMMENTS *********/

/******* CODE STYLING *********/

.pre-default-code {
    background-color: #eee;
    border: 0 none;
}

.pre-default-code code {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif
}

.pre-default-code .main-highlight {
    color: blue;
}

.comment {
    color: grey;
}

.var {
    color: #7D151A;
}

/******* END CODE STYLING *******/

.register-container {
    margin-right: auto;
    margin-left: auto;
    width: 640px;
}

.register-container input {
    box-sizing: border-box;
    font-size: 14px;
    height: 32px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0 5px;
}

#content {
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    padding: 20px;
    width: 1160px;
    min-height: 845px;
}

#footer {
    padding: 20px;
}